.Window
{
	padding: 10px;	
    color: white;
}

body{
	text-align:center;
	font-family: verdana;
	background-color: #FC2B6A;
	
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
img
{
    border: 2px solid;
    border-radius: 25px
}
